<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DÖK: Index</title>
</head>
<body>
    <img id="pfp" src="./pfp" alt="Profile Picture" width="100px" style="float: right;">
    <h1>DÖKBackend</h1>
    <h2>Welcome {{ user.get("name") }}!</h2>
    <h2>Doors</h2>
    <hr>
    {% if tasks|length > 0 %}
    <ul id="tasklist">
        <li>door</li>
    </ul>
    <script>
        fetch('/doors')
        .then(response => response.json())
        .then(data => {
            // Assuming the response is an array of  objects
            const tasks = data.map(task => {
                return {
                    deadline: new Date(task.deadline),
                    description: task.description
                };
            });
            
            const ulElement = document.getElementById('tasklist');
                ulElement.innerHTML = '';
                
                tasks.forEach(task => {
                    const liElement = document.createElement('li');
                    const formattedDeadline = task.deadline.toLocaleString('en-US', {
                        month: 'long',
                        day: 'numeric',
                        hour: 'numeric',
                        minute: 'numeric'
                    });
                    liElement.textContent = `${task.description} - Deadline: ${formattedDeadline}`;
                    ulElement.appendChild(liElement);
                });
            })
            .catch(error => {
                console.error('Error:', error);
            });
            
        </script>
        {% else %}
        <p>You have no tasks!</p>
        {% endif %}
    <footer style="text-align: right">DÖKBackend-Py {{ version }}</footer>
</body>
</html>

