<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DÖK: Index</title>
</head>
<body>
    <img id="pfp" src="./pfp" alt="Profile Picture" width="400px" style="float: right;">
    <h1>DÖKBackend</h1>
    <h2>Welcome {{ user.get("name") }}!</h2>
    <h2>User data</h2>
    <code>{{ user }}</code>
    <br>
    <h2>Actions</h2>
    <ul>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/door">Open a Door</a></li>
        <li><a href="/userdata">Get user info in JSON</a></li>
        <li><a href="/admin">Access the admin interface</a></li>
    </ul>
    <h2>Tasks</h2>
    {% if tasks|length > 0 %}
    <ul id="tasklist">
        <li>task</li>
    </ul>
    <script>
        fetch('/tasks')
        .then(response => response.json())
        .then(data => {
            // Assuming the response is an array of task objects
            const tasks = data.map(task => {
                return {
                    deadline: new Date(task.deadline),
                    description: task.description,
                    author: task.author,
                    task_id: task.task_id
                };
            });
            
            const ulElement = document.getElementById('tasklist');
            ulElement.innerHTML = '';
            
            tasks.forEach(task => {
                const liElement = document.createElement('li');
                const formattedDeadline = task.deadline.toLocaleString('en-US', {
                    month: 'long',
                    day: 'numeric',
                    hour: 'numeric',
                    minute: 'numeric'
                });
                
                const aElement = document.createElement('a');
                aElement.href = `/marktaskdone/${task.task_id}`;
                aElement.textContent = 'Mark as Done';
                
                liElement.textContent = `${task.description} - Deadline: ${formattedDeadline} - Assigned by: ${task.author} `;
                liElement.appendChild(aElement);
                
                ulElement.appendChild(liElement);
            });}
        )
        </script>
        {% else %}
        <p>You have no tasks!</p>
        {% endif %}
        <hr>
        <footer style="text-align: right">DÖKBackend-Py {{ version }}</footer>
    </body>
    </html>
    
    